//postfix -olb = On Light Background

$color-list: (
  c-red #ef4036,
  c-white #fff,
  c-gray #8c8c8c,
  c-gray-light #999,
  c-gray-lighter #eaeaea,
  c-gray-medium #343434,
  c-gray-dark #646464,
  c-gray-darkest #444444,
  c-black #0d0d0d,
  c-twitter rgb(120,205,240),
  c-facebook rgb(83,123,189),
  c-linkedin rgb(32,133,199),
  c-pinterest rgb(203,32,39),
  c-instagram rgb(156,99,76)
  )